<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="150.18131.0" targetFramework="net452" />
  <package id="NewRelic.Agent.Api" version="8.27.139" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net472" developmentDependency="true" />
  <package id="System.Management.Automation" version="6.2.2" targetFramework="net452" />
</packages>