<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension="." />
            <mimeMap fileExtension="." mimeType="text/plain" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <handlers>
            <clear />
            <add name="StaticFile" path="*" verb="GET" type="" modules="StaticFileModule,DefaultDocumentModule" scriptProcessor="" resourceType="File" requireAccess="Read" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
        </handlers>
        <caching>
            <profiles>
                <add extension="." kernelCachePolicy="DontCache" policy="DontCache" />
            </profiles>
        </caching>
        <rewrite>
            <rules>
                <clear />
				<!--This rules is proxying back to the original request if the file does not exist-->
                <rule name="If file does not exist redirect to original URL" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <!--If the file is not found, redirect to the orginal URI-->
	                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <!--We need to have an original cache URL otherwise there is no place to redirect to-->
                        <add input="{HTTP_X_ORIGINALCACHEURL}" pattern="^(?!\s*$).+" />
                    </conditions>
                    <action type="Rewrite" url="{HTTP_X_ORIGINALCACHEURL}" appendQueryString="false" logRewrittenUrl="true" />
                    <serverVariables>
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
