<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension="." />
            <mimeMap fileExtension="." mimeType="text/plain" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <handlers>
            <clear />
            <add name="StaticFile" path="*" verb="*" type="" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" scriptProcessor="" resourceType="Either" requireAccess="Read" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
        </handlers>
        <caching>
            <profiles>
                <add extension="." kernelCachePolicy="DontCache" policy="DontCache"/>
            </profiles>
        </caching>
        <rewrite>
            <rules>
                <clear />
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
