<?xml version="1.0" encoding="UTF-8"?>
<!--WHEN PLACE IN A DIRECTORY, THIS WEB.CONFIG WILL PREVENT ALL ACCESS-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="SiteDown" stopProcessing="true">
          <match url=".*" />
          <action type="CustomResponse" statusCode="503" statusReason="Down for maintenance" statusDescription="Down for maintenance" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
    <httpErrors existingResponse="Auto" errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="503" subStatusCode="-1" />
      <error statusCode="503" path="Index.html" />
    </httpErrors>
  </system.webServer>
</configuration>