<?xml version="1.0" encoding="utf-8" ?>
<!--SE USABA CUANDO SE MONTABA APP EN DIR VIRTUAL. ESTA ESTRATEGIA DEFINITIVAMENTE NO SIRVIÓ...-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Mount site" stopProcessing="true">
          <match url=".*" ignoreCase="false" negate="false" />
          <conditions>
            <add input="{PATH_INFO}" pattern="^/app/" negate="true" />
          </conditions>
          <action type="Rewrite" url="app/{R:0}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>